<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    <p> <%= pageTitle; %></p>



    <p>Active Table: <%= currentTable; %></p>

    <%- include('partials/dataTable') %>
    
    <%- include('partials/footer') %>
</body>
</html>