<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    

    <p> <%= pageTitle; %></p>

    <form action="/removeData" method="POST">
        row id to be removed: <input type="number" name="<%=  dbDataHeaders[0].Field %>" >
        <button type="submit">Remove row</button>
    </form>

    <p>Active Table: <%= currentTable; %></p>

    <%- include('partials/dataTable') %>
    
    <%- include('partials/footer') %>
</body>
</html>