<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    

    <p> <%= pageTitle; %></p>

    <form action="/removeData" method="POST">
        row id to be removed: <input type="text" name="id" >
        <button type="submit">Remove row</button>
    </form>

    <%- include('partials/dataTable') %>
    
    <%- include('partials/footer') %>
</body>
</html>