<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    <p> <%= pageTitle; %></p>

    <% const dataTypeToInputType = { 'date': 'date', 'int': 'number' }; %>
    <form class="form" action="/updateData" method="POST">
        <% dbDataHeaders.slice(1).forEach( header => { %>
            <% const inputType = dataTypeToInputType[header[1]]; %>
            Update <%= Object.values(header)[0]; %> (Optional): <input type="<%= inputType || 'text' %>" name="<%= Object.values(header)[0]; %>" required>
        <% }); %>
        Row id to be updated: <input type="number" name="<%= dbDataHeaders[0].Field; %>" required>
        <div class="form-btn-container">
            <button type="submit">Update row</button>
        </div>
    </form>

    <p>Active Table: <%= currentTable; %></p>

    <%- include('partials/dataTable') %>
    
    <%- include('partials/footer') %>
</body>
</html>